@page
@model Cinematix3000.Pages.Clients.CreateModel

@{
    ViewData["Title"] = "Nieuwe klant toevoegen";
}

<h1>@ViewData["Title"]</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Client.FirstName" class="control-label"></label>
                <input asp-for="Client.FirstName" class="form-control" />
                <span asp-validation-for="Client.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.LastName" class="control-label"></label>
                <input asp-for="Client.LastName" class="form-control" />
                <span asp-validation-for="Client.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Client.BirthDate" class="control-label"></label>
                <input asp-for="Client.BirthDate" class="form-control" />
                <span asp-validation-for="Client.BirthDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Toevoegen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Ga terug</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
